<main>
  <section class=filters>
    <% if logged_in? %>
      <button class="my-items-btn">My Items</button>
    <% end %>
  </section>

  <section class="items">
    <% @items.each do |item| %>
      <h3><%= item.title %></h3>
      <img src="<%= item.photos.first.image_link %>" alt="">
      <p>Number of offers: <%= item.reviewer_offers.length %></p>
    <% end %>
  </section>
</main>


<script>
  const myItemsBtn = document.querySelector('.my-items-btn')
  const itemContainer = document.querySelector('.items')



  const removeAllItems = () => {
    $('.items').empty()
  }

  const addItemsToDom = response => {
    response.forEach(item => {
      const heading = document.createElement('h3')
      heading.textContent = item.title
      itemContainer.appendChild(heading)

      const image = document.createElement('img')
      image.src = item.url
      itemContainer.appendChild(image)

      const paragraph = document.createElement('p')
      paragraph.textContent = "Number of offers: " + item.offers
      itemContainer.appendChild(paragraph)
    });
  };

  const getMyItems = () => {
    $.ajax({url: '/api/my_items'}).done(response => {
      addItemsToDom(response)
    })
  }

  const showMyItems = () => {
    removeAllItems()
    getMyItems()
  }

  myItemsBtn.addEventListener('click', showMyItems)
</script>