<main>
  <section class=filters>
    <% if logged_in? %>
      <button class="my-items-btn u-full-width">My Items</button>
      <form action="">
        <label for="">Sort by Distance</label>
        <input class="distance-input six columns" type="text" placeholder="Kilometres">
        <button class="distance-btn six columns">Filter</button>
      </form>
    <% end %>
  </section>

  <section class="items">
    <% @items.each do |item| %>
      <a href="/items/<%= item.id %>">
        <h3><%= item.title %></h3>
        <img src="<%= item.photos.first.image_link %>" alt="">
      </a>
      <p>Number of offers: <%= item.reviewer_offers.length %></p>
    <% end %>
  </section>
</main>


<script>
  const myItemsBtn = document.querySelector('.my-items-btn')
  const itemContainer = document.querySelector('.items')

  const distanceInput = document.querySelector('.distance-input')
  const distanceBtn = document.querySelector('.distance-btn')

  const removeAllItems = () => {
    $('.items').empty()
  }

  const addItemsToDom = response => {
    response.forEach(item => {
      if (item.quantity > 0) {
        const anchor = document.createElement('a')
        anchor.href = `/items/${item.id}`

        const heading = document.createElement('h3')
        heading.textContent = item.title
        anchor.appendChild(heading)

        const image = document.createElement('img')
        image.src = item.url
        anchor.appendChild(image)

        itemContainer.appendChild(anchor)

        const paragraph = document.createElement('p')
        paragraph.textContent = `Number of offers:${item.offers}`
        itemContainer.appendChild(paragraph)
      }
    });
  };

  const getMyItems = () => {
    $.ajax({url: '/api/my_items'}).done(response => {
      addItemsToDom(response)
    })
  }

  const showMyItems = () => {
    removeAllItems()
    getMyItems()
  }

  const addItemByDistance = response => {
    for (var i = 0; i < response.length; i++) {
      // if (response[i].id !== response[i].user_id) {
        const heading = document.createElement('h3')
        heading.textContent = response[i].title
        itemContainer.appendChild(heading)

        const distance = document.createElement('p')
        distance.textContent = Math.round(response[i].distance) + "KM"
        itemContainer.appendChild(distance)

        const image = document.createElement('img')
        image.src = response[i].photos[0].image_link.url
        itemContainer.appendChild(image)
      // }
    }
  };

  const getItemsByDistance = () => {
    $.ajax({url: `/api/sort_by_distance/${distanceInput.value}`}).done(response => {
      addItemByDistance(response)
    })
  }

  const sortByDistance = () => {
    event.preventDefault()
    removeAllItems()
    getItemsByDistance()
  }

  myItemsBtn.addEventListener('click', showMyItems)

  distanceBtn.addEventListener('click', sortByDistance)

</script>