<h1 class="new-heading">Post Produce</h1>

<div class="i-uploader">
  <form action="/items" method="post" enctype="multipart/form-data">
    <input class="choose-file" type="file" name="image_link" />
    <div class="new-title">
      <label for="">Title?</label>
      <input class="title-input" type="text" name="title">
    </div>
    <div class="new-description">
      <label for="">Description</label>
      <input class="description-input" type="text" name="description">
    </div>
    <div class="new-qty">
      <label for="">Qty</label>
      <input class="qty-input" type="text" name="quantity">
    </div>
    <div class="new-unit">
      <label for="">Unit</label>
      <input class="qty-unit" type="text" name="unit">
    </div>
    <div class="new-button">
      <button class="btn btn-success">Post</button>
    </div>
  </form>
</div>