<h1 class="new-heading">Post Produce</h1>

<% @error_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>

  <form action="/items" method="post" enctype="multipart/form-data">
    <input class="choose-file" type="file" name="image_link" placeholder="upload" />
    
<div class="info-box">
    <div class="new-title">
      <label for="">Title?</label>
      <input class="u-full-width" type="text" name="title">
    </div>
    
    <div class="new-description">
      <label for="">Description</label>
      <input class="u-full-width" type="text" name="description">
    </div>
    
    <div class="new-qty">
      <label for="">Qty</label>
      <input class="qty-input" type="text" name="quantity">
    </div>
    
    <select name="unit" id="">
        <option value="none" selected disabled hidden> 
            Select a Unit 
        </option> 
        <option value="kg">kg</option>
        <option value="g">g</option>
        <option value="ltrs">ltrs</option>
        <option value="ml">ml</option>
        <option value="pcs">pcs</option>
      </select>

</div>
   
    <div class="new-button">
      <button class="btn btn-success">Post</button>
    </div>

  </form>