<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/reset.css'>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

  <% if logged_in? %>
    <p>logged in as: <%= current_user.email %></p>
    <form action="/sessions" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>Logout</button>
    </form>
  <% else %>
    <a href="/sessions/new">Login</a>
  <% end %>

  <%= yield %>

  <footer>
    <nav>
      <a href="/items/new">Add new item</a>
      <a href="/offers">Offers</a>
      <a href="/users/:id">Account</a>
      <a href="/">Home</a>
    </nav>
  </footer>
</body>
</html>