<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Produce Exchange</title>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/skeleton.css">
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <script src="https://kit.fontawesome.com/e0410cd50a.js"></script>
</head>
<body>
  <header class="main-header">
    <% if logged_in? %>
      <p class="logged-in">logged in as: <%= current_user.username %></p>
    <% else %>
      <a href="/sessions/new"><i class="fas fa-sign-in-alt fa-2x"></i></a>
    <% end %>
  </header>

  <div class="container">
    <%= yield %>

  </div>
  <footer>
    <nav>
      <a href="/items/new"><i class="fas fa-plus-square fa-2x"></i></a>
      <a href="/offers"><i class="fas fa-exchange-alt fa-2x"></i></a>
      <a href="/users/:id"><i class="fas fa-user fa-2x"></i></a>
      <a href="/"><i class="fas fa-home fa-2x"></i></a>
    </nav>
  </footer>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="/javascripts/application.js"></script>

</body>
</html>