<main>
  <h2>Please sign in</h2>

  <p><%= @message %></p>

  <form action="/sessions" method="post">
    <input class="u-full-width" type="email" placeholder="Email" name="email">
    <input class="u-full-width" type="password" placeholder="Password" name="password">
    <button class="u-full-width">Sign in</button>
  </form>

  <section>
    <p>Not a member yet?</p>
    <form action="/users/new">
      <button>Create an account</button>
    </form>
  </section>
</main>