<main>
  <h2>Change your password</h2>

  <% @error_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
  
  <form action="/users/<%= current_user.id %>/password" method="post">
    <input type="hidden" name="_method" value="put">
    <input class="u-full-width" type="password" 
    placeholder="Current password" name="current_password">
    <input class="u-full-width" type="password" 
    placeholder="New password" name="password">
    <button class="u-full-width">Confirm</button>
  </form>
</main>