:root {
  --text: #333333;

  --main: #f68787;
  --secondary: #ffba92;
  --tertiary: #e0f5b9;
  --quarternary: #fcfca8;

  --main-hover: #ff8080;
  --secondary-hover: #f8a978;
  --tertiary-hover: #f1eb9a;
  --quarternary-hover: #a4f6a5;
}

* {
  color: var(--text);
}

img {
  width: 100%;
  border-radius: 2rem;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
  color: var(--text);
}

.hide {
  display: none;
}

body {
  background-color: var(--main);
  text-align: center;
  margin-bottom: 50px;
}

button {
  background-color: var(--quarternary);
  border-color: var(--quarternary);
  color: var(--text);

}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  background-color: var(--tertiary);
}

nav {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

nav a {
  padding: 0.5em;
  color: var(--text);
}

p {
  font-size: 1.8rem;
}

.main-header {
  background-color: var(--tertiary);
  padding: 0.5em;
  margin-bottom: 2rem;
}

.main-header p {
  margin-bottom: 0;
}

/* Cliftons CSS Begin */

/* Item_show Page */
/* Here is where i converted my edit hyperlink into a button */

.edit-btn {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: var(--text);
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: var(--quarternary);
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; 
}

.edit-btn:hover {
  color: #333;
  border-color: #888;
  outline: 0; 
}

.delete-form {
  display: inline;
}

.info-box {
  border: 1px solid black;
  margin: 1em;
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  text-align: left;
}

.show-img {
  margin: 1em;
  display: flex;
  justify-content: center;
}

.itm-show-but-container {
  margin: 1em;
}

.itm-shw-heading {
  text-align: center;
}

/* Item_Edit Page */

.edit-heading {
  margin-top: 1rem;
}

/* Item_New Page */

.choose-file {
  display: inline-block;
  height: 38px;
  /* padding: 0 30px; */
  color: var(--text);
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: var(--quarternary);
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; 
}

.choose-file:hover {
    color: #333;
    border-color: #888;
    outline: 0; 
}
/* Cliftons CSS End  */






/* Ashley's CSS Begin */

.fas {
  color: var(--main);
}

.logged-in {
  color: var(--main);
}

.distance-form {
  margin-top: 1em;
}

.item-card {
  margin-bottom: 1em;
  border-radius: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.item-card img {
  border-radius: 0;
}

.edit-user {
  margin-bottom: 0.5em;
}

/* Ashley's CSS End  */